div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.scrollmenu::-webkit-scrollbar { 
    display: none; 
}
div.scrollmenu a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #f5f5f5 ;
}
 .big-rems{
    font-size: 4rem !important;
 }
.med-rems{
    font-size: 2.7rem !important;
}
.lil-rems{
    font-size: 1.3rem !important;
}