div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.scrollmenu::-webkit-scrollbar { 
    display: none; 
}
div.scrollmenu a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #808080 ;
}
 .big-rems{
    font-size: 4rem !important;
 }
.med-rems{
    font-size: 2.7rem !important;
}
.lil-rems{
    font-size: 1.3rem !important;
}
.font-100{
    font-weight: 100;
}
.nav-border{
    border-bottom: #e0e0e0 solid;
    border-width: 1px;
}
.light-font{
    font-weight: 300;
}
.font-200{
    font-weight: 200;
}
.nav-colour{
    background-color: #333;
}
