div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.scrollmenu::-webkit-scrollbar { 
    display: none; 
}
div.scrollmenu a {
    display: inline-block;
    color: #bdbdbd;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
